﻿@model IEnumerable<DataTypes.Message>
@{
    ViewData["Title"] = "Index";
}


<h2>IndexMessage</h2>
@foreach (var item in Model)
{
    <div>
        @item.MessageContent   @item.Id
        <hr />
    </div>

}



